a {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  color: grey;
}
.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-link {
  padding-left: 10px;
  display: inline-block;
}
